@page "{nome?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row justify-content-center" style="height: 5.5em;">
    <div class="col-sm-6">
        <h1 class="background-text-clip">
            <b>Agregador Climático</b>
        </h1>
    </div>
</div>

<div class="row" style="height: 80em;">
    <div class="col-sm-2" style="overflow:auto; height: inherit;">
        <h5>Selecione uma capital:</h5>
        @{
            foreach (var municipio in Model.Municipios)
            {
                <a asp-route-nome="@municipio.Key" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@municipio.Key.Replace("-", " ")</h5>
                    </div>
                </a>
            }
        }
    </div>
    <div class="col-sm-10" style="overflow: auto; height: inherit;">
        <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="open-weather-tab" data-bs-toggle="tab" data-bs-target="#open-weather" type="button" role="tab" aria-controls="open-weather" aria-selected="true">Open Weather Map</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="open-uv-tab" data-bs-toggle="tab" data-bs-target="#open-uv" type="button" role="tab" aria-controls="open-uv" aria-selected="false">Open UV</button>
            </li>
        </ul>

        <!-- Template
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Sensação Térmica</h5>
                    <small class="text-muted">Núvens dispersas.</small>
                </div>
                <p class="mb-1">38°C</p>
                <small>3 days ago</small>
            </a> -->

        <div class="tab-content">
            <div class="tab-pane active" id="open-weather" role="tabpanel" aria-labelledby="open-weather-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <partial name="_DiariaWPartial" for="PrevisaoDiaria" />
                    </div>
                    <div class="col-sm-6">
                        <partial name="_ClimaWPartial" for="ClimaAtual" />
                    </div>
                </div>
                <div class="row border-top border-left border-3 border-dark" style="height: inherit; overflow: auto;">
                    @{
                        if (Model.HistoricoDiarioW.Count == 0)
                        {
                            <h3 style="text-align: center;">Histórico indisponível.</h3>
                        }
                        else
                        {
                            <h4 style="text-align: center;">Histórico diário</h4>
                            @foreach (var historico in Model.HistoricoDiarioW)
                            {
                                <div class="col-sm-3" style="height: inherit;">
                                    <partial name="_DiariaWPartial" for="@historico" />
                                </div>
                            }
                        }
                    }
                </div>

            </div>
            <div class="tab-pane" id="open-uv" role="tabpanel" aria-labelledby="open-uv-tab">
                <div class="row justify-content-start">
                    <div class="col-sm-10">
                        <partial name="_DiariaUVPartial" for="ViewOpenUV" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


