@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Selecione uma capital!</h2>

<div class="col">
    <div class="col-md-3">
        <div class="form-group">
            <label><strong>Capitais</strong></label>
            <select class="form-control" asp-for="MunicipioIdInput" asp-items="Model.IndiceMunicipios" size="@Model.IndiceMunicipios.Count()">

            </select>
        </div>
    </div>
</div>
