@page "{nome?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h5>Selecione uma capital:</h5>

<div class="row justify-content-center" style="height: 30em;">
    <div class="col-sm-2" style="overflow:auto; height: inherit;">
        @{
            foreach (var municipio in Model.Municipios)
            {
                <a asp-route-nome="@municipio.Key" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@municipio.Key.Replace("-", " ")</h5>
                    </div>
                </a>
            }
        }
    </div>
    <div class="col-sm-10" style="overflow: auto; height: inherit;">
        <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="open-weather-tab" data-bs-toggle="tab" data-bs-target="#open-weather" type="button" role="tab" aria-controls="open-weather" aria-selected="true">Open Weather Map</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="open-uv-tab" data-bs-toggle="tab" data-bs-target="#open-uv" type="button" role="tab" aria-controls="open-uv" aria-selected="false">Open UV</button>
            </li>
        </ul>

        <!-- Template
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Sensação Térmica</h5>
                    <small class="text-muted">Núvens dispersas.</small>
                </div>
                <p class="mb-1">38°C</p>
                <small>3 days ago</small>
            </a> -->

        <div class="tab-content">
            <div class="tab-pane active" id="open-weather" role="tabpanel" aria-labelledby="open-weather-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <partial name="_DiariaWPartial" for="PrevisaoDiaria"/>
                    </div>
                    <div class="col-sm-6">
                        <partial name="_ClimaWPartial" for="ClimaAtual"/>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="open-uv" role="tabpanel" aria-labelledby="open-uv-tab">
                <div class="row">
                    <div class="col-sm-12">
                        <partial name="_DiariaUVPartial" for="ViewOpenUV"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 30em;">
    <div class="col-sm-6" style="height: inherit; overflow: auto;">

    </div>
    <div class="col-sm-6" style="height: inherit; overflow: auto;">

    </div>
</div>

