<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agregador Climático</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
</head>
<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container justify-content-center">
                <div class="col-sm-6">
                    <h1 class="background-text-clip">
                        <b>Agregador Climático</b>
                    </h1>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="background-color: #fbfbfb; padding-top: 1rem;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
